#root>div>form>div.MuiFormControl-root.MuiTextField-root.MuiTelInput-TextField.css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    height: 40px;
    width: 100%;
    background-color: #f5f6f7;
    border: none;
    margin-top: 16px;
    border-radius: 8px;
}

#root>div>form>div.MuiFormControl-root.MuiTextField-root.MuiTelInput-TextField.css-1xp5r68-MuiFormControl-root-MuiTextField-root>div {
    border: none !important;
    height: 40px;
    padding-left: 15px;

}

#root>div>form>div.MuiFormControl-root.MuiTextField-root.MuiTelInput-TextField.css-1xp5r68-MuiFormControl-root-MuiTextField-root>div>fieldset {
    border: none;
    height: 40px;
}

#root > div > form > div.MuiFormControl-root.MuiTextField-root.MuiTelInput-TextField.css-1xp5r68-MuiFormControl-root-MuiTextField-root > div > div > button{
    padding: 0;
}